.embla {
    @apply overflow-hidden relative;
}

.embla__container {
    @apply flex items-center my-6;
}

.embla__viewport {
    @apply hidden w-full;
}

.embla__slide {
    opacity: .7;
    transition: opacity .5s, box-shadow .5s;
}

.embla__slide--active {
    opacity: 1;
}

.embla--master-view .embla__slide {
    flex: 0 0 50%;
    position: relative;
    min-width: 80%;
}

.embla--master-view .embla__slide--active {
    flex: 0 0 110%;
}

@screen sm {
    .embla--master-view .embla__slide--active {
        flex: 0 0 90%;
    }        
}

.embla--master-view .embla__slide__img {
    @apply shadow-sm;
}

.embla--master-view .embla__slide--active .embla__slide__img {
    @apply rounded;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.embla__dot-button {
    background-color: transparent;
    border: 2px solid #fff;
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 50%;
}

.embla__dot-button--active {
    background-color: #fff;
}

button.embla__nav-button {
  fill: #000000;
}

button.embla__nav-button:disabled svg {
  fill: #cccccc;
  cursor: not-allowed;
}

#homepage-banner-slider button.embla__prev-button {
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s linear;
  z-index: -1;
}

#homepage-banner-slider .embla-dots {
  opacity: 0;
  bottom: 8px;
  transition: all 0.5s linear;
  z-index: -1;
}

#homepage-banner-slider button.embla__next-button {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s linear;
  z-index: -1;
}

#homepage-banner-slider:hover button.embla__nav-button {
  opacity: 1;
  z-index: 1;
  transform: translateX(0);
}

#homepage-banner-slider:hover .embla-dots {
  bottom: -24px;
  z-index: 1;
  opacity: 1;
}

#homepage-banner-slider .embla__dot-selected {
  background-color: #000;
}

#homepage-brand-slider .slider__item {
  flex: 0 0 100%;
  min-width: 0;
  padding-left: 1rem;
}

@screen sm {
  #homepage-brand-slider .slider__item {
    flex: 0 0 50%;
  }
}

@screen md {
  #homepage-brand-slider .slider__item {
      flex: 0 0 33.3334%;
    }
}

@screen lg {
  #homepage-brand-slider .slider__item {
      flex: 0 0 25%;
    }
}

.card__brand .overlay {
  transition: all linear 0.25s;
}

.card__brand:hover .overlay {
  opacity: 0.4;
}